.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  margin-left: 90px;
  margin-top: 168px;
  margin-bottom: 12px;
  margin-right: 37px;
}
